<nav class="w-100 bg-black-80 cf">
	<ul class="list ma0 pa0 pa4 tc cf">
		<li class="dib pr4 fl">
			<a href="/" class="f4 fw7 link v-mid green">GROW</a>
		</li>
		<span class="fr">
		<li class="dib pr4">
			<a href="#" class="f5 link white">Shop</a>
		</li>
		<li class="dib pr4">
			<a href="/learn" class="f5 link white">Learn</a>
		</li>
		<li class="dib pr4">
			<a href="#" class="f5 link white">Get Inspired</a>
		</li>
		<!-- <li class="dib pr4"> -->
			<!-- <a href="#" class="f5 link white">Videos</a> -->
		<!-- </li> -->
		<!-- <li class="dib pr4"> -->
			<!-- <a href="#" class="f5 link white">About</a> -->
		<!-- </li> -->
		</span>
	</ul>
</nav>